:root {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--text-color);
    background-color: var(--bg-color);

    --button-bg-color: #aaa;
    --button-text-color: #000;
    --text-color: #000;
    --bg-color: #fff;
}

:root,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --button-bg-color: #000;
        --button-text-color: #fff;
        --text-color: #dedede;
        --bg-color: #363636;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
}
.jWkLDY {
    flex-grow: 0;
}
